# --- Java & IDE Compiles ---
*.class
bin/
out/
*.log
*.ctxt
.mtj.tmp/
hs_err_pid*

# --- IntelliJ IDEA ---
.idea/
*.iml
*.iws
*.ipr

# --- Eclipse ---
.settings/
.project
.classpath

# --- Package Files ---
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# --- Build Tools (Maven/Gradle) ---
target/
.gradle/
build/

# --- Operating System Junk ---
.DS_Store
Thumbs.db
